<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <form action="/ascii-art" method="post">
         <div class="container">
        <h1>Ascii Art Web</h1>
        <textarea name="word" id="" class="input" placeholder="Type text here ..." ></textarea>
        <div class="radio-input">
            <label class="label">
                <input type="radio" id="value-1"  name="typee" value="shadow" />
                <p class="text">Shadow</p>
            </label>
            <label class="label">
                <input type="radio" id="value-2" name="typee" value="standard" />
                <p class="text">Standard</p>
            </label>
            <label class="label">
                <input type="radio" id="value-3" name="typee" value="thinkertoy" />
                <p class="text">Thinkertoy</p>
            </label>
        </div>
        <button type="submit">Generate</button>
    </div>
    </form>
   
</body>

</html>